version: 2

updates:
  - package-ecosystem: docker
    open-pull-requests-limit: 20
    directory: /.devcontainer
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directory: /
    schedule:
      interval: weekly
  
  - package-ecosystem: npm
    open-pull-requests-limit: 20
    directory: /
    versioning-strategy: increase
    schedule:
      interval: weekly
    groups:
      vue:
        patterns:
          - "vue"
          - "vue-*"
          - "@vue/*"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
          - "eslint-*"
          - "typescript-eslint"
          - "@vue/eslint*"
          - "typescript-eslint"
      tailwind:
        patterns:
          - "tailwindcss"
          - "tailwind-*"
          - "@tailwind/*"
      
