{
  "*.js": ["prettier --write", "eslint --color --fix"],
  "{*.json,.!(browserslist|npm)*rc}": ["prettier --parser json --write"],
  "*.ts": ["prettier --write", "eslint --color --fix"],
  "*.vue": ["prettier --write", "stylelint --fix", "eslint --color --fix"],
  "*.scss": ["prettier --write", "stylelint --syntax=scss --fix"]
}
