@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;

    --white: #fff;
    --black: #000;

    --open-sans-font-family: "Open Sans";
    --nitti-font-family: "Nitti";
    --font-size: 13px;
  }
}
@layer base {
  body {
    @apply bg-background;
  }
}

@font-face {
  font-family: "Nitti";
  src: url("@/assets/fonts/Nitti-Normal.ttf") format("truetype");
  font-weight: 400;
  font-display: block;
}
